*{
	margin: 0;
}

body{
	background: #8A8A8A;
	color: white;
	font-family: sans-serif;
}
h1{
	text-align: center;
	text-transform: uppercase;
	margin-top: 40px;
	font-weight: bold;
}

.clearfix{
	clear: both;
}

#container{
	width: 390px;
	height: 390px;
	overflow: auto;
	margin: 40px auto;

}

.box, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9{
	box-sizing: border-box;
	width: 130px;
	height: 130px;
	float: left;
	list-style-type: none;
	background: #A2A2A2;
}
.box:hover, .box2:hover, .box3:hover, .box4:hover, .box5:hover, .box6:hover, .box7:hover, .box8:hover, .box9:hover{
	background: #848484;
}

.instructions{
	text-align: center;
	font-size: 16px;
}